<!-- index.html -->
<html 
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout"><!-- layout檔案路徑 -->
  <head>...</head>
  <body>
    <div layout:fragment="introSection">
    	<h2>Please Login</h2>
    	<form action="#" th:action="@{/doLogin}" th:object="${user}" method="post" >
        	<label>User Account : </label> <input type="text" th:field="*{useracc}" />
        	<br>
        	<label>User Password : </label> <input type="text" name="userpsw" />
        	<button type="submit">登入</button>
		</form>
    </div>
  </body>
</html>