<!-- index.html -->
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<!-- layout檔案路徑 -->

<head>
  <!-- head中的會被加入 -->
  <script th:src="@{/js/test.js}"></script>
  <script>
    $(function () {
      var table = $('#datatable1').DataTable({
        columnDefs: [{
          orderable: false,
          targets: [1, 2, 3]
        }]
      });

      $('#tableBtn').click(function () {
        var data = table.$('input, select').serialize();
        alert("The following data would have been submitted to the server: \n\n" + data);
        return false;
      });
    })
  </script>
</head>

<body>

  <!-- 這行不會出來 在fragment之外的不會被加入 -->
  <div id="testDIV1"></div>

  <!-- 這邊有設定ID就使用這邊的，否則使用layout的 -->
  <div id="in_intro" layout:fragment="introSection">

    <button id="tableBtn">submit</button>
    <table id="datatable1" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Position</th>
          <th>Office</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiger Nixon</td>
          <td><input type="text" id="id-row-2-age" name="name-row-2-age" value="61"></td>
          <td><input type="text" id="row-1-position" name="row-1-position" value="System Architect"></td>
          <td><select size="1" id="row-1-office" name="row-1-office">
              <option value="Edinburgh" selected="selected">
                Edinburgh
              </option>
              <option value="London">
                London
              </option>
              <option value="New York">
                New York
              </option>
              <option value="San Francisco">
                San Francisco
              </option>
              <option value="Tokyo">
                Tokyo
              </option>
            </select></td>
        </tr>
        <tr>
          <td>Tiger mon</td>
          <td><input type="text" id="row-1-age" name="row-1-age" value="61"></td>
          <td><input type="text" id="row-1-position" name="row-1-position" value="System Architect"></td>
          <td>
          	<select size="1" id="row-1-office" name="row-1-office">
              <option value="Edinburgh">
                Edinburgh
              </option>
              <option value="London">
                London
              </option>
              <option value="New York" selected="selected">
                New York
              </option>
              <option value="San Francisco">
                San Francisco
              </option>
              <option value="Tokyo">
                Tokyo
              </option>
            </select>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Position</th>
          <th>Office</th>
        </tr>
      </tfoot>
    </table>

  </div>
</body>

</html>