<fieldset class="px-3 pb-4">
    <legend style="width: 100px;">查詢條件</legend>

    <div class="row mb-3">
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">案號</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="案號">
            </div>
        </div>
        <div class="col-md-4" style="margin-left: -30px;">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">信託帳戶截止日</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">棟樓別</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="起">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">至</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="訖">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">房屋</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數起">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">至</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數訖">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">優惠付款</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="選取">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">對保收款</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="選取">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">土地</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數起">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">至</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數訖">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">工程變更款</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="選取">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">交屋尾款</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="選取">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">車位</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數起">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">至</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數訖">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">代收</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數起">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">至</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="期數訖">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">處理日</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="日期">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">預計繳款日</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="日期">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">實際繳款日</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="日期">
            </div>
        </div>
    </div>

    <hr class="formHR1">

    <hr class="formHR1">

    <div class="row mb-3">
        <div class="col-md-5">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">身分證字號</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="輸入身分證字號">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">補印繳款單</span></div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="勾選">
            </div>
        </div>
    </div>

    <hr class="formHR1">

</fieldset>

<div class="row justify-content-md-center mt-3">
    <div class="col-md-2">
        <button id="saveData" class="btn btn-primary btn-lg btn-block">查詢</button>
    </div>
</div>

<br>